.filter-content-container {
    display: flex;
  }
  
  /* If you need to ensure the search bar doesn't grow too large, you can set a flex-basis or max-width */
.search-container {
    margin-right: 20px;
}

 .datepicker-container {
    --a-spacing-2: 0; /* Super irritating grid spacing that caused the datePicker components to not be properly vertically aligned */
} 

.navds-date__field-wrapper input{
    padding-left:10px; /* Also when I manually overried the grid spacing-2 above, the padding on the left would go all the way to the div itself.
    We need to have the above. Also super annoying */
}

.icon-container {
    display: flex;
    justify-content: center; /* Center the icon horizontally */
    align-items: center; /* Center the icon vertically */
    margin-right: 5px;
    margin-left: 5px;
}
