.searchResultsShelf{
    display: flex;
    flex-direction: column;
}

.searchResultsShelf h1{
    margin-top: 10px;
    margin-bottom: 10px;
}

.searchResultsShelf h2{
    margin-bottom: 10px;
}
.searchResultsLeft{
    width: calc(50% - 4rem);
    height: 100%;
    overflow-y: scroll;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    background-color: white;
}
.searchResultsRight{
    position: fixed;
    left: 50%;
    padding: 2rem;
    width: calc(50% - 4rem);
    height: 90vh;
}
.searchResultsWrapper{
    display: flex;
    width: 100%;
    height: calc(100vh - 75px);
    background-color: #CCE1FF;
}
.selectedRowOutline {
    border: 3px solid #0067c5 !important;
    box-sizing: border-box !important;
}
.tableRow:hover{
    cursor: pointer;
}
.filterList{
    width: 50%;
}

.documents-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.row-buttons{
    margin-top: 15px;
    display: flex;
    gap: 30px;
    align-items: center;
}