.searchResultsShelf{
    display: flex;
    justify-content: space-between;
    height: fit-content;
}
.searchResultsLeft{
    width: calc(50% - 4rem);
    padding: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    background-color: white;
}
.searchResultsRight{
    position: fixed;
    left: 50%;
    padding: 2rem;
    width: calc(50% - 4rem);
    height: 90vh;
}
.searchResultsWrapper{
    display: flex;
    width: 100%;
    min-height: calc(100vh - 75px);
    height: fit-content;
    background-color: #CCE1FF;
}
.selectedRowOutline {
    border: 3px solid #0067c5 !important;
    box-sizing: border-box !important;
}
.tableRow:hover{
    cursor: pointer;
}
.filterList{
    width: 50%;
}

.documents-wrapper {
    display: flex; /* Use flexbox layout */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  gap: 10px; /* Optional: adds some space between the icons */
  }