.pdf-viewer-container{
    background-color: white;
    width: fit-content;
    min-width:100%;
    min-height: 50%;
    height: 100%;
    max-height: calc(100vh - 75px);
    overflow-y: auto;
    display: flex;
    justify-content: center;
}
.pdf-viewer-container>p{
    margin: 0;
}
.pdf-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}
.pdf-title>p{
    margin: 0;
}
